<!doctype html>
<html ng-app= "myphone">
<head>
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <script type="text/javascript">
        var paramstr = location.search.substr(1);
        var paramarr = paramstr.split ("&");
        var params = {};
        var id;
        var tmparr = paramarr[0].split("=");
        id = tmparr[1];
    </script>
    <script>
        angular.module('myphone', [])
                .config(['$compileProvider',function($compileProvider){
                    $compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|mailto|file|skype):/);
                }])
                .controller('phonecontroller', ['$scope', '$http', '$sce', '$timeout', function ($scope,$http,$sce,$timeout){
                    /*$scope.data = {
                     singleSelect: null,
                     multipleSelect: [],
                     option1: 'option-1'
                     };*/
                    $scope.newField = {};
                    $scope.editing = false;
                    $scope.title="Listar numeros";
                    $http.get("http://localhost:8080/projects/"+id, {cache: false})
                            .success(function (data) {
                                $scope.phones=data;
                            })
                            .error(function (err) {
                            })

                    $http.get("http://localhost:8080/proyects/"+id, {cache: false})
                            .success(function (data) {
                                $scope.projects = data;
                                $scope.projects.URL = $sce.trustAsResourceUrl($scope.projects.URL);
                            })
                            .error(function (err) {
                            })
                    $scope.edit = function(field) {
                        $scope.editing = $scope.phones.indexOf(field);
                        $scope.newField = angular.copy(field);
                    }
                    $scope.saveField = function($index,field) {
                        if ($scope.editing !== false) {
                            $scope.phones[$scope.editing] = $scope.newField;
                            $scope.editing = false;
                            $http.put("http://localhost:8080/phones/" + field.Telefono, field)
                                    .success(function (data){
                                        $scope.phones[$index] = data;
                                    })
                                    .error(function (err) {
                                    })
                        }
                    };

                    $scope.addRow = function () {
                        $add = {'Telefono': $scope.Telefono, 'Estado': $scope.Estado};
                        $http.post('http://localhost:8080/phones', $add)
                                .success(function () {
                                    $scope.phones.push($add);
                                })
                                .error(function (err) {
                                })
                        $scope.Telefono = '';
                        $scope.Estado = '';
                    }

                    $scope.cancel = function(index) {
                        if ($scope.editing !== false) {
                            $scope.phones[$scope.editing] = $scope.newField;
                            $scope.editing = false;
                        }
                    };
                    $timeout(function () { console.log(window.frames.foo); }, 1000);
                }]);

    </script>
    <title>Realizar llamada</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body ng-controller="phonecontroller">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/profile" class="btn btn-default btn-sm">Back</a>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th> Nombre </th>
        <th> Numero </th>
        <th> </th>
        <th> Acciones </th>
    </tr>
    </thead>
    <tbody>
    <!--<tr ng-repeat="numero in phones track by $index">-->
    <div>
        <td>
            <spans>{{phones[0].Nombre}}</spans>
        </td>
        <td>
            <spans>{{phones[0].Telefono}}</spans>
        </td>
        <td>
            <!--<span data-ng-hide="editMode">{{phones[0].Estado}}</span>-->
            <form name="myForm">
                <select name="singleSelect" data-ng-show="editMode" data-ng-model="phones[0].Estado">
                    <option data-ng-required="si">No contesto</option>
                    <option data-ng-required="no">Numero equivocado</option>
                    <option data-ng-required="no">Llamada Realizada</option>
                </select><br>
            </form>
        </td>
        <td>
            <input type="button" value="Editar" data-ng-hide="editMode" data-ng-click="editMode = true; edit(phones[0])" class="btn btn-default"/>
            <input type="button" value="Guardar" data-ng-show="editMode" data-ng-click="editMode = false; saveField($index,phones[0])" class="btn btn-default"/>
            <a href="call?id={{projects.id}}" class="btn btn-default">Siguiente</a>
        </td>
    </div>
    </tbody>
</table>
    <div id="SkypeButton_Call_luiss_1">
    <script type="text/javascript">
        Skype.ui({
            "name": "call",
            "element": "SkypeButton_Call_luiss_1",
            "participants": [ "+" + "{{phones[0].Telefono}}"],
            "imageSize": 24
        });
    </script>
</div>
<center><iframe width="800" height="600" ng-src= "{{projects.URL}}"></iframe>
</center>
</body>
</html>