<!doctype html>
<html ng-app="listfiles">
<head>
  <title>Crear proyecto</title>
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <script>
        angular.module("listfiles",[])
                .controller("ctrl", function ($scope,$http) {
                    $http.get("http://localhost:8080/files", {cache: false})
                            .success(function (data) {
                                $scope.items=data;
                            })
                            .error(function (err) {
                            })

                    $scope.selected = [];

                    $scope.toggle = function (item, list) {
                        var idx = list.indexOf(item);
                        if (idx > -1) {
                            list.splice(idx, 1);
                        }
                        else {
                            list.push(item);
                        }
                    };

                    $scope.exists = function (item, list) {
                        return list.indexOf(item) > -1;
                    };
                })
    </script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body        { padding-top:80px; }
  </style>
</head>
<body>
<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Crear proyecto</h1>


    <form action="/create-project" method="post">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="Nombre">
      </div>
      <div class="form-group">
        <label>Descripcion</label>
        <input type="text" class="form-control" name="Descripcion">
      </div>
        <div ng-controller="ctrl" class="md-padding" ng-cloak style="min-height:270px">
            <div layout="row" layout-wrap>

                <div flex="100" flex-gt-sm="50" layout="column">
                    <div >
                        <fieldset class="standard">
                            <legend>Seleccione las listas de números que utilizará</legend>
                            <div layout="row" layout-wrap flex>
                                <div ng-repeat="item in items" class="standard" flex="50">
                                    <label>
                                        <input type="checkbox" ng-checked="exists(item, selected)"
                                               ng-click="toggle(item, selected)"/>
                                        {{ item.Nombre }}
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div flex="100">
                    <h2 class="md-title">Selected Items</h2>
                    <code style="display: block; padding: 8px;">{{selected | json}}</code>
                </div>
            </div>

        </div>
      <button type="submit" class="btn btn-warning btn-lg">Enviar</button>
    </form>

    <hr>

    <p>Or <a href="/profile-admin">back</a>.</p>

  </div>


</div>
</body>
</html>