<!doctype html>
<html>
<head>
  <title>C A T I</title>
  <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">

    <img class='custom-left' src='http://localhost:8080/images/logo-usm.png' width="196px" height="100px">
    <img class='custom-right' src='http://localhost:8080/images/industrias_usm.png' width="130px" height="130px">
  <style>
    body        { padding-top:30px; }
    a.ex1 {
      margin-left: 2cm;
      margin-bottom: 1cm;
    }
    img.custom-left {
        background: url("../public/images/logo-usm.png") no-repeat;
        position: absolute;
        left: 20px;
        top: 35px;
        z-index: 1;
    }
    img.custom-right{
        background: url("../public/images/industrias_usm.png") no repeat;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    h1{
      margin-bottom: 2cm;
    }
    hr{
      margin-bottom: 1cm;
    }
    div.jumbotron.text-center{
        margin-top: 135px;
        margin-bottom: 0px;
        border-radius: 35px;
    }
  </style>
</head>
<body style="background-color: #faffb0">

<div class="container">

  <div class="jumbotron text-center">
      <% if (message.length > 0) { %>
      <div class="alert alert-dismissible alert-danger"><%= message %></div>
      <% } %>
    <h1><span class="fa-lock"></span> CATI</h1>
      <h2> Sistema de encuestas y llamadas VoIP</h2>
      <hr>


    <p>Ingresar como:</p>

    <a href="/login" class="btn btn-primary btn-lg"><span class="fa fa-user"></span> Encuestador</a>
    <a href="/login-admin" class="btn btn-primary btn-lg"><span class="fa fa-user"></span> Administrador</a>
  </div>

</div>
</body>
</html>