<!doctype html>
<html>
<head>
    <title>Admin </title>
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
        a.btn.btn-default.btn-sm{
            color: #fffdfe;
            background: #171519;
        }
        jumbotron.text-center{
            border-radius: 10px;
        }
    </style>
</head>
<body style="background-color: #faffb0">
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Admin</h1>
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>password</strong>: <%= user.password %>
                </p>

            </div>
        </div>
    </div>

    <div class="jumbotron text-center">
        <a href="signup" class="btn btn-info"><span class="fa fa-user"></span> Registrar encuestador</a>
        <a href="project-list" class="btn btn-info"><span class="fa fa-user"></span> Administrar proyectos</a>
        <a href="users-list" class="btn btn-info"><span class="fa fa-user"></span> Lista de encuestadores</a>
        <a href="upload" class="btn btn-info"><span class="fa fa-user"></span> Subir lista de números</a>
        <a href="create-project" class="btn btn-info"><span class="fa fa-user"></span> Crear proyecto</a>
    </div>

</div>
</body>
</html>